@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


*{
  margin: 0px;
  padding: 0px;
/*     outline: 1px solid #f9a580; */
}



html, body {
  width: 100vw;
  padding: 0px;
  overflow-y:auto;
  overflow-x: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
}


.bg-images{
  background-image: url('/images/topwave.svg'), url('/images/bottomwave.svg');
  background-position: top, bottom;
}



::selection {
  background: rgba(255,244,150,.5);
}

h1 {
  font-family: 'Calistoga', sans-serif;
  font-size: 1.8em;
  color: #F2C46D;
  letter-spacing: 1px;
  font-weight: 100;
  display: inline;
/*   cursor: url(music2.svg), auto; */
}

h2 {
  font-family: 'Calistoga', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0px;
  color: #C9CADC;
  opacity: 1;
  cursor: default;
}

  p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #5F5C58;
  line-height: 110%;
  text-decoration: none;
  opacity: 1;
  cursor: default;
}

c {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #5e9aba;
  text-decoration: none;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #5e9aba;
  text-decoration: none;
}

a:hover {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #acc9e1;
  text-decoration: wavy underline 1.2px;
}

.img {
  -webkit-user-drag: none;
}

/* phone !!  */
@media not all and (min-width: 800px) {
  
.headers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  padding-top: 12px; 
  padding-right: 20px;
  column-gap: 20px;
  }

.footers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  padding-bottom: 24px; 
  padding-right: 20px;
  column-gap: 20px;
}


    /* mockups menu  */
  
.mockups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  column-gap: 10vw;
}

.mockup-item {
  width: 50vw;
  padding: 25px;
}

.mockup-img{
  width: 50vw; 
  }
  
/* hero image  */
  
.container-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 10vh;
}

.item-top {
  width: 80vw;
  text-align: left;
  margin-top: 20px;
}

.top-img{
  width: 60vw;
  }

.bottom-img{
  width: 40vw;
  }
  
.igpost{
  width: 70vw;
}

/* grid  */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 6vw;
  margin-right: 6vw;
}

.item {
  width: 80vw;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.bluewave {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("images/bluewave.svg");
  background-position: left;
  width: 100vw;
  background-repeat: no-repeat;
  margin-top:20px;
}
} 

/* desktop !! 它它它它它它它它它它它它它*/
@media all and (min-width: 800px) {

/* Style the header */
  
.headers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  padding-top: 12px; 
  padding-right: 50px;
  column-gap: 28px;
}

.footers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  padding-bottom: 24px; 
  padding-right: 50px;
  column-gap: 28px;
  
}

  
  /* mockups menu  */
  
.mockups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 15vh;
  column-gap: 5vw;
/*   background-color: lightcoral; */
}

.mockup-img {
  width: 25vw;
/*   background-color: pink; */
}



  
/* hero image  */
  
.container-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 10vh;
  padding-bottom: 3vh;
}

.item-top {
  width: 35vw;
  text-align: left;
  margin-top: 10px;
  padding: 20px;
}

.top-img{
  width: 35vw; 
  }

.bottom-img{
  width: 20vw; 
  display: flex;
  justify-content: center;
  }

.igpost{
  width: 35vw;
}


/* grid  */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 50px; 

}

.item {
  width: 35vw;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}


.bluewave {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("images/bluewave.svg");
  width: 100vw;
  background-size: contain;
  margin-top:20px;
}



}